<app-alert [(alertMessage)]="alertMessage" [isErrorMessage]="isErrorMessage"
    (alertMessageChange)="alertMessage = $event"></app-alert>
<div>
    <h3 class="modal-title">{{faultDescription}}</h3>
    <form #networkFaultForm="ngForm" (ngSubmit)="executeNetworkFault(networkFaultForm.value);" ngNativeValidate>
        <section class="form-block">
            <fault-endpoint [faultFormData]="faultFormData" [supportedEpTypes]="supportedEpTypes" [endpoints]="endpoints" (displayEndpointFieldsEvent)="displayEndpointFields($event);"></fault-endpoint>
            <fault-timeoutms [faultFormData]="faultFormData"></fault-timeoutms>
            <div class="form-group">
                <label for="nicName">Nic Name</label>
                <input type="text" name="nicName" id="nicName" [(ngModel)]="faultFormData.nicName" required>
            </div>
            <div class="form-group" [hidden]="!latencyHidden">
                <label for="latency">Latency Milliseconds</label>
                <input type="number" name="latency" id="latency" [(ngModel)]="faultFormData.latency" min="1"
                    [required]="latencyHidden">
            </div>
            <div class="form-group" [hidden]="!percentageHidden">
                <label for="percentage">Percentage (%)</label>
                <input type="number" name="percentage" id="percentage" [(ngModel)]="faultFormData.percentage" min="1" max="100"
                    [required]="percentageHidden">
            </div>
            <fault-injectionhomedir [faultFormData]="faultFormData"></fault-injectionhomedir>
            <fault-schedule [faultFormData]="faultFormData" (submitButtonChange)="setSubmitButton();" (setCronModal)="viewCronModal($event);"></fault-schedule>
            <fault-tags [tagsData]="tagsData" (tagsModalEvent)="tagsModal=$event;"></fault-tags>
            <fault-notifiers [notifiersData]="notifiersData" (notifiersModalEvent)="notifierModal=$event;"></fault-notifiers>
        </section>
        <button type="submit" class="btn btn-primary" [clrLoading]="runBtnState" [disabled]="disableSchedule">SCHEDULE FAULT</button>
        <button type="submit" class="btn btn-primary" [clrLoading]="runBtnState" [disabled]="disableRun">RUN FAULT</button>
    </form>
</div>
<app-cron [cronModal]="cronModal" [cronValOrig]="faultFormData.schedule.cronExpression"
    (cronMessageEvent)="setScheduleCron($event);"></app-cron>
<app-tags [tagsModal]="tagsModal" [tagsData]="tagsData" (updateTagsModal)="tagsModal=$event;"></app-tags>
<app-notifiers [notifierModal]="notifierModal" [notifiersData]="notifiersData" (updateNotifiersModal)="notifierModal=$event;"></app-notifiers>
