<app-alert [(alertMessage)]="alertMessage" [(isErrorMessage)]="isErrorMessage"
    (alertMessageChange)="alertMessage = $event"></app-alert>
<div>
    <h3 class="modal-title">Execute Redis Db Return Error Fault</h3>
    <form data-tag="db-redis-error-return" #redisErrorReturnForm="ngForm"
        (ngSubmit)="executeRedisReturnErrorFault(redisErrorReturnForm.value);" ngNativeValidate>
        <section class="form-block">
            <fault-endpoint [faultFormData]="faultFormData" [supportedEpTypes]="supportedEpTypes"
                [endpoints]="endpoints" (displayEndpointFieldsEvent)="displayEndpointFields($event);">
            </fault-endpoint>

            <div class="form-group">
                <label for="errorType">Error Type</label>
                <div class="select">
                    <select name="errorType" id="errorType" [(ngModel)]="faultFormData.errorType" required>
                        <ng-container *ngFor="let errType of errorTypes">
                            <option [value]="errType">{{errType}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="percentage">Percentage (%)</label>
                <input type="number" name="percentage" id="percentage" [(ngModel)]="faultFormData.percentage" min="1"
                    max="100" required>
            </div>
            <fault-tags [tagsData]="tagsData" (tagsModalEvent)="tagsModal=$event;"></fault-tags>
            <fault-notifiers [notifiersData]="notifiersData" (notifiersModalEvent)="notifierModal=$event;">
            </fault-notifiers>
        </section>

        <button type="submit" data-tag="RunRedisErrorReturnFault" class="btn btn-primary" [clrLoading]="runBtnState"
            [disabled]="disableRun">RUN FAULT</button>
    </form>
</div>
<app-tags [tagsModal]="tagsModal" [tagsData]="tagsData" (updateTagsModal)="tagsModal=$event;"></app-tags>
<app-notifiers [notifierModal]="notifierModal" [notifiersData]="notifiersData"
    (updateNotifiersModal)="notifierModal=$event;"></app-notifiers>