.idea/
target/
.project
.classpath
.settings/
.gitconfig
logs/
.metadata/
.DS_Store
/fiaasco-core.iml
mangle-services/rt
test-output
.recommenders/
mangle-metric-reporter/mangle-metric-reporter.iml
mangle-models/mangle-models.iml
mangle-services/mangle-services.iml
mangle-utils/mangle-utils.iml
mangle-services/.springBeans
mangle-default-plugin/mangle-default-plugin.iml
mangle-task-framework/mangle-task-framework.iml
mangle-test-plugin/mangletest-plugin.iml
mangle-integration-tests/mangle-integration-tests.iml
mangle-root.iml
mangle-test-plugin/mangle-test-plugin.iml
mangle-ui/mangle-ui.iml
mangle-vcenter-adapter/mangle-vcenter-adapter.iml
mangle-vcenter-adapter/bin/
