<app-alert [(alertMessage)]="alertMessage" [(isErrorMessage)]="isErrorMessage"
    (alertMessageChange)="alertMessage = $event"></app-alert>
<div>
    <h3 class="modal-title">Execute Redis Db Drop Connection Fault</h3>
    <form data-tag="db-redis-drop-connection" #redisDropConnectionForm="ngForm"
        (ngSubmit)="executeRedisDropConnectionFault(redisDropConnectionForm.value);" ngNativeValidate>
        <section class="form-block">
            <fault-endpoint [faultFormData]="faultFormData" [supportedEpTypes]="supportedEpTypes"
                [endpoints]="endpoints" (displayEndpointFieldsEvent)="displayEndpointFields($event);">
            </fault-endpoint>
            <div class="form-group">
                <label for="percentage">Percentage (%)</label>
                <input type="number" name="percentage" id="percentage" [(ngModel)]="faultFormData.percentage" min="1"
                    max="100" required>
            </div>
            <fault-tags [tagsData]="tagsData" (tagsModalEvent)="tagsModal=$event;"></fault-tags>
            <fault-notifiers [notifiersData]="notifiersData" (notifiersModalEvent)="notifierModal=$event;">
            </fault-notifiers>
        </section>

        <button type="submit" data-tag="RunRedisDropConnFault" class="btn btn-primary" [clrLoading]="runBtnState"
            [disabled]="disableRun">RUN FAULT</button>
    </form>
</div>
<app-tags [tagsModal]="tagsModal" [tagsData]="tagsData" (updateTagsModal)="tagsModal=$event;"></app-tags>
<app-notifiers [notifierModal]="notifierModal" [notifiersData]="notifiersData"
    (updateNotifiersModal)="notifierModal=$event;"></app-notifiers>