<div class="main-container">
	<div class="content-container">
		<div class="content-area" style="padding-top: 0;">
			<router-outlet></router-outlet>
		</div>
		<clr-vertical-nav [clrVerticalNavCollapsible]="false">
			<clr-vertical-nav-group routerLinkActive="active">
				<clr-icon shape="cloud" clrVerticalNavIcon></clr-icon>Infrastructure Faults
				<clr-vertical-nav-group-children *clrIfExpanded="infraExpand">
					<a clrVerticalNavLink [routerLink]="['cpu-infra']" routerLinkActive="active">CPU</a>
					<a clrVerticalNavLink [routerLink]="['memory-infra']" routerLinkActive="active">Memory</a>
					<a clrVerticalNavLink [routerLink]="['diskio-infra']" routerLinkActive="active">Disk IO</a>
					<a clrVerticalNavLink [routerLink]="['killprocess']" routerLinkActive="active">Kill Process</a>
					<a clrVerticalNavLink [routerLink]="['stopservice']" routerLinkActive="active">Stop Service</a>
					<a clrVerticalNavLink [routerLink]="['filehandler-leak-infra']" routerLinkActive="active">File
						Handler Leak</a>
					<a clrVerticalNavLink [routerLink]="['disk-space']" routerLinkActive="active">Disk Space</a>
					<a clrVerticalNavLink [routerLink]="['kernel-panic']" routerLinkActive="active">Kernel Panic</a>
					<a clrVerticalNavLink [routerLink]="['clock-skew']" routerLinkActive="active">Clock Skew</a>
					<clr-vertical-nav-group routerLinkActive="active">
						<span>&emsp;<clr-icon shape="network-globe" clrVerticalNavIcon></clr-icon>Network</span>
						<clr-vertical-nav-group-children *clrIfExpanded="networkExpand">
							<a clrVerticalNavLink [routerLink]="['packet-delay']" routerLinkActive="active">&emsp;Packet
								Delay</a>
							<a clrVerticalNavLink [routerLink]="['packet-duplicate']"
								routerLinkActive="active">&emsp;Packet Duplicate</a>
							<a clrVerticalNavLink [routerLink]="['packet-drop']" routerLinkActive="active">&emsp;Packet
								Loss</a>
							<a clrVerticalNavLink [routerLink]="['packet-corruption']"
								routerLinkActive="active">&emsp;Packet Corruption</a>
								<a clrVerticalNavLink [routerLink]="['network-partition']" routerLinkActive="active">&emsp;Network Partition</a>
						</clr-vertical-nav-group-children>
					</clr-vertical-nav-group>
					<clr-vertical-nav-group routerLinkActive="active">
						<span>&emsp;<clr-icon shape="container" clrVerticalNavIcon></clr-icon>Docker</span>
						<clr-vertical-nav-group-children *clrIfExpanded="dockerExpand">
							<a clrVerticalNavLink [routerLink]="['docker-state-change']"
								routerLinkActive="active">&emsp;State Change</a>
						</clr-vertical-nav-group-children>
					</clr-vertical-nav-group>
					<clr-vertical-nav-group routerLinkActive="active">
						<span>&emsp;<clr-icon shape="cluster" clrVerticalNavIcon></clr-icon>K8S</span>
						<clr-vertical-nav-group-children *clrIfExpanded="k8sExpand">
							<a clrVerticalNavLink [routerLink]="['delete-k8s-resource']"
								routerLinkActive="active">&emsp;Delete Resource</a>
							<a clrVerticalNavLink [routerLink]="['drain-k8s-node']"
                                routerLinkActive="active">&emsp;Drain Node</a>
							<a clrVerticalNavLink [routerLink]="['k8s-resource-not-ready']"
								routerLinkActive="active">&emsp;Resource Not Ready</a>
							<a clrVerticalNavLink [routerLink]="['k8s-service-unavailable']"
								routerLinkActive="active">&emsp;Service Unavailable</a>
						</clr-vertical-nav-group-children>
					</clr-vertical-nav-group>
					<clr-vertical-nav-group routerLinkActive="active">
						<span>&emsp;<clr-icon shape="vmw-app" clrVerticalNavIcon></clr-icon>vCenter</span>
						<clr-vertical-nav-group-children *clrIfExpanded="vcenterExpand">
							<a clrVerticalNavLink [routerLink]="['vcenter']"
								routerLinkActive="active">&emsp;VM</a>
							<a clrVerticalNavLink [routerLink]="['vcenter/vcenter-host']" routerLinkActive="active">&emsp;Host</a>
						</clr-vertical-nav-group-children>
					</clr-vertical-nav-group>
					<clr-vertical-nav-group routerLinkActive="active">
						<span style="margin-left: 25px"><img src="assets/images/aws/aws.png" height="20"
								width="20" />&emsp;&emsp;AWS</span>
						<clr-vertical-nav-group-children *clrIfExpanded="awsExpand">
							<a clrVerticalNavLink [routerLink]="['aws']" routerLinkActive="active"><span
									style="margin-left: 35px;"><img src="assets/images/aws/ec2.png" height="20"
										width="20" />EC2</span></a>
							<a clrVerticalNavLink [routerLink]="['aws/rds']" routerLinkActive="active"><span
									style="margin-left: 35px;"><img src="assets/images/aws/rds.png" height="20"
										width="20" />RDS</span></a>
						</clr-vertical-nav-group-children>
					</clr-vertical-nav-group>
					<clr-vertical-nav-group routerLinkActive="active">
						<span style="margin-left: 25px"><img src="assets/images/azure/azure.png" height="20"
								width="20" />&emsp;&emsp;Azure</span>
						<clr-vertical-nav-group-children *clrIfExpanded="azureExpand">
							<a clrVerticalNavLink [routerLink]="['azure']" routerLinkActive="active">
								<span style="margin-left: 35px;"><img src="assets/images/azure/azure-vm.png" height="20"
										width="20" />VirtualMachine</span></a>
						</clr-vertical-nav-group-children>
					</clr-vertical-nav-group>
					<a clrVerticalNavLink>
						<font color="#A9B6BE">Disk Fuse</font>
					</a>
					<a clrVerticalNavLink>
						<font color="#A9B6BE">Fork Bomb</font>
					</a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>
			<clr-vertical-nav-group routerLinkActive="active">
				<clr-icon shape="application" clrVerticalNavIcon></clr-icon>Application Faults
				<clr-vertical-nav-group-children *clrIfExpanded="appExpand">
					<a clrVerticalNavLink [routerLink]="['cpu']" routerLinkActive="active">CPU</a>
					<a clrVerticalNavLink [routerLink]="['memory']" routerLinkActive="active">Memory</a>
					<a clrVerticalNavLink [routerLink]="['filehandler-leak']" routerLinkActive="active">File Handler
						Leak</a>
					<a clrVerticalNavLink [routerLink]="['thread-leak']" routerLinkActive="active">Thread Leak</a>
					<a clrVerticalNavLink [routerLink]="['java-method-latency']" routerLinkActive="active">Java Method
						Latency</a>
					<a clrVerticalNavLink [routerLink]="['spring-service-latency']" routerLinkActive="active">Spring
						Service Latency</a>
					<a clrVerticalNavLink [routerLink]="['spring-service-exception']" routerLinkActive="active">Spring
						Service Exception</a>
					<a clrVerticalNavLink [routerLink]="['simulate-java-exception']" routerLinkActive="active">Simulate
						Java Exception</a>
					<a clrVerticalNavLink [routerLink]="['kill-jvm']" routerLinkActive="active">Kill JVM</a>
					<a clrVerticalNavLink>
						<font color="#A9B6BE">Mock Java Method</font>
					</a>
					<a clrVerticalNavLink>
						<font color="#A9B6BE">Segmentation Fault</font>
					</a>
					<a clrVerticalNavLink>
						<font color="#A9B6BE">Denial of Service Attack</font>
					</a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>
			<clr-vertical-nav-group routerLinkActive="active">
				<clr-icon shape="storage" clrVerticalNavIcon></clr-icon>Database Faults
				<clr-vertical-nav-group-children *clrIfExpanded="dbExpand">
					<a clrVerticalNavLink [routerLink]="['db-connection-leak']" routerLinkActive="active">Connection
						Leak</a>
					<a clrVerticalNavLink [routerLink]="['db-transaction-error']" routerLinkActive="active">Transaction
						Error</a>
					<a clrVerticalNavLink [routerLink]="['db-transaction-latency']"
						routerLinkActive="active">Transaction Latency</a>
					<clr-vertical-nav-group routerLinkActive="active">
						<span style="margin-left: 24px"><img src="assets/images/redis.png" height="20"
								width="20" />&emsp;&emsp;Redis</span>
						<clr-vertical-nav-group-children *clrIfExpanded="redisExpand">
							<a clrVerticalNavLink [routerLink]="['redis-db-delay']" routerLinkActive="active"><span
									style="margin-left: 20px;">Delay</span></a>
							<a clrVerticalNavLink [routerLink]="['redis-db-return-error']"
								routerLinkActive="active"><span style="margin-left: 20px;">Return Error</span></a>
							<a clrVerticalNavLink [routerLink]="['redis-db-return-empty']"
								routerLinkActive="active"><span style="margin-left: 20px;">Return Empty</span></a>
							<a clrVerticalNavLink [routerLink]="['redis-db-drop-connection']"
								routerLinkActive="active"><span style="margin-left: 20px;">Drop Connection</span></a>
						</clr-vertical-nav-group-children>
					</clr-vertical-nav-group>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>
			<a clrVerticalNavLink [routerLink]="['custom-fault']" routerLinkActive="active">
				<clr-icon shape="plugin" clrVerticalNavIcon></clr-icon>Custom Faults
			</a>
		</clr-vertical-nav>
	</div>
</div>
