<div class="main-container">
		<div class="content-container">
			<div class="content-area height-1200">
				<router-outlet></router-outlet>
			</div>
			<clr-vertical-nav [clrVerticalNavCollapsible]="faultCollapsible">
				<clr-vertical-nav-group routerLinkActive="active">
					<clr-icon shape="cloud" clrVerticalNavIcon></clr-icon>Infrastructure Faults
					<clr-vertical-nav-group-children *clrIfExpanded="false">
						<a clrVerticalNavLink [routerLink]="['cpu-infra']" routerLinkActive="active">CPU</a>
						<a clrVerticalNavLink [routerLink]="['memory-infra']" routerLinkActive="active">Memory</a>
						<a clrVerticalNavLink [routerLink]="['diskio-infra']" routerLinkActive="active">Disk IO</a>
						<a clrVerticalNavLink [routerLink]="['killprocess']" routerLinkActive="active">Kill Process</a>
						<clr-vertical-nav-group routerLinkActive="active">
							<span>&emsp;<clr-icon shape="container" clrVerticalNavIcon></clr-icon>Docker</span>
							<clr-vertical-nav-group-children *clrIfExpanded="false">
								<a clrVerticalNavLink [routerLink]="['docker-state-change']" routerLinkActive="active">&emsp;State Change</a>
							</clr-vertical-nav-group-children>
						</clr-vertical-nav-group>
						<clr-vertical-nav-group routerLinkActive="active">
							<span>&emsp;<clr-icon shape="cluster" clrVerticalNavIcon></clr-icon>K8S</span>
							<clr-vertical-nav-group-children *clrIfExpanded="false">
								<a clrVerticalNavLink [routerLink]="['delete-k8s-resource']" routerLinkActive="active">&emsp;Delete Resource</a>
								<a clrVerticalNavLink [routerLink]="['k8s-resource-not-ready']" routerLinkActive="active">&emsp;Resource Not Ready</a>
							</clr-vertical-nav-group-children>
						</clr-vertical-nav-group>
						<clr-vertical-nav-group routerLinkActive="active">
							<span>&emsp;<clr-icon shape="vmw-app" clrVerticalNavIcon></clr-icon>vCenter</span>
							<clr-vertical-nav-group-children *clrIfExpanded="false">
								<a clrVerticalNavLink [routerLink]="['vcenter-disk']" routerLinkActive="active">&emsp;Disk</a>
								<a clrVerticalNavLink [routerLink]="['vcenter-nic']" routerLinkActive="active">&emsp;Nic</a>
								<a clrVerticalNavLink [routerLink]="['vcenter-state']" routerLinkActive="active">&emsp;State</a>
							</clr-vertical-nav-group-children>
						</clr-vertical-nav-group>
						<a clrVerticalNavLink><font color="#A9B6BE">Disk Space</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Disk Fuse</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Network Fault</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Kernel Panic</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Fork Bomb</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">DB Connection Leak</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">DB Transaction Error</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">DB Transaction Latency</font></a>
					</clr-vertical-nav-group-children>
				</clr-vertical-nav-group>
				<clr-vertical-nav-group routerLinkActive="active">
					<clr-icon shape="application" clrVerticalNavIcon></clr-icon>Application Faults
					<clr-vertical-nav-group-children *clrIfExpanded="false">
						<a clrVerticalNavLink [routerLink]="['cpu']" routerLinkActive="active">CPU</a>
						<a clrVerticalNavLink [routerLink]="['memory']" routerLinkActive="active">Memory</a>
						<a clrVerticalNavLink><font color="#A9B6BE">File Handler</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Kill JVM</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Java Exception</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Mock Java Method Return</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Java Method Latency</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Spring Service Exception</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Spring Service Latency</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Segmentation Fault</font></a>
						<a clrVerticalNavLink><font color="#A9B6BE">Denial of Service Attack</font></a>
					</clr-vertical-nav-group-children>
				</clr-vertical-nav-group>
			</clr-vertical-nav>
		</div>
	</div>