<div class="login-wrapper">
    <form class="login" #loginForm="ngForm" (ngSubmit)="login(loginForm.value);" *ngIf="authData" ngNativeValidate>
        <label class="title">
            <h3 class="welcome">Welcome to Mangle</h3>
            <h5 class="hint">
                Use your login ID to sign in
            </h5>
        </label>
        <div class="login-group">
            <div class="auth-source select">
                <select name="authSource" [(ngModel)]="authData.authSource" required>
                    <option *ngIf="!loginForm.value.authSource" [value]="null" selected disabled></option>
                    <option [value]="sourceAuth" *ngFor="let sourceAuth of authSources">{{sourceAuth}}</option>
                </select>
            </div>
            <input class="username" type="text" id="username" name="username" [(ngModel)]="authData.username" required>
            <input class="password" type="password" id="password" name="password" [(ngModel)]="authData.password" required>
            <div>
                <clr-alert *ngIf="errorFlag" [clrAlertType]="'danger'">
                    <div class="alert-item">{{alertMessage}}</div>
                </clr-alert>
            </div>
            <button [clrLoading]="submitBtnState" type="submit" class="btn btn-primary">LOGIN</button>
        </div>
    </form>
</div>
