<div style="float:left;height:100%;width:100%">
	<div style="float:left;width:30%;">&nbsp;</div>
	<div style="float:left;width:40%;">
		<clr-alert *ngIf="errorFlag" [clrAlertType]="'danger'">
			<div class="alert-item">{{alertMessage}}</div>
		</clr-alert>
		<h3>Change Password</h3>
		<form #userForm="ngForm" (ngSubmit)="updatePassword(userForm.value);" *ngIf="userFormData" ngNativeValidate>
			<section class="form-block">
				<div class="form-group">
					<label for="name">User Name</label>
					<input type="text" name="name" [(ngModel)]="userFormData.name" required readonly>
				</div>
				<div class="form-group">
					<label for="oldPassword">Old Password</label>
					<input type="password" name="oldPassword" [(ngModel)]="userFormData.oldPassword" required>
				</div>
				<div class="form-group">
					<label for="password">New Password</label>
					<input type="password" name="password" [(ngModel)]="userFormData.password" minlength="8"
						maxlength="30" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%!&+=]).{8,}$"
						title="should consists at least 8 chars, one digit, one lower alpha char, one upper alpha char, and one char within a set of special chars (@#$%!&+=)"
						required>
					<ng2-password-strength-bar *ngIf="userFormData.password" [passwordToCheck]="userFormData.password"
						[barLabel]="barLabel" [barColors]="barColors" [baseColor]="baseColor"
						[strengthLabels]="strengthLabels">
					</ng2-password-strength-bar>
				</div>
				<div class="form-group">
					<label for="rePassword">Retype New Password</label>
					<input type="password" name="rePassword" [(ngModel)]="userFormData.rePassword" required>
				</div>
			</section>
			<button [clrLoading]="submitBtnState" type="submit" class="btn btn-primary">UPDATE</button>
		</form>
	</div>
	<div style="float:right;width:30%;">&nbsp;</div>
</div>