<app-alert [(alertMessage)]="alertMessage" [isErrorMessage]="isErrorMessage"
    (alertMessageChange)="alertMessage = $event"></app-alert>
<div>
    <h3 class="modal-title">Execute/Schedule Kill Process Fault</h3>
    <form #killProcessForm="ngForm" (ngSubmit)="executeKillProcessFault(killProcessForm.value);" ngNativeValidate>
        <section class="form-block">
            <fault-endpoint [faultFormData]="faultFormData" [supportedEpTypes]="supportedEpTypes" [endpoints]="endpoints" (displayEndpointFieldsEvent)="displayEndpointFields($event);" (dockerContainersEvent)="getDockerContainers($event['endPointType'], $event['name']);"></fault-endpoint>
            <fault-dockerargs [faultFormData]="faultFormData" [dockerHidden]="dockerHidden" [dockerContainers]="dockerContainers" [searchedContainers]="searchedContainers"></fault-dockerargs>
            <fault-k8sargs [faultFormData]="faultFormData" [k8sHidden]="k8sHidden"></fault-k8sargs>
            <div class="form-group">
                <label>Kill Using
                    <a href="javascript://" role="tooltip" aria-haspopup="true"
                        class="tooltip tooltip-md tooltip-bottom-right">
                        <clr-icon shape="info-circle" size="24"></clr-icon>
                        <span class="tooltip-content">Process descriptor is the process command descriptor pattern.
                            Process Id is the actual numeric PID of the process.</span>
                    </a>
                </label>
                <div class="clr-control-container clr-control-inline">
                    <div class="clr-radio-wrapper">
                        <input type="radio" id="processIdentifier" name="killUsing" value="processIdentifier"
                            class="clr-radio" (click)="setKillUsingVal($event.target['value']);">
                        <label for="processIdentifier" class="clr-control-label">Process Descriptor</label>
                    </div>
                    <div class="clr-radio-wrapper">
                        <input type="radio" id="processId" name="killUsing" value="processId" class="clr-radio"
                            (click)="setKillUsingVal($event.target['value']);">
                        <label for="processId" class="clr-control-label">Process Id</label>
                    </div>
                </div>
            </div>
            <div class="form-group" [hidden]="processIdentifierHidden">
                <input type="text" name="processIdentifier" [(ngModel)]="faultFormData.processIdentifier"
                    [required]="!processIdentifierHidden">
            </div>
            <div class="form-group" [hidden]="processIdHidden">
                <input type="text" pattern="\d+" maxlength="7" title="This must be number, max upto 7 digit"
                    name="processId" [(ngModel)]="faultFormData.processId" [required]="!processIdHidden">
            </div>
            <div class="form-group" [hidden]="processIdentifierHidden">
                <label for="killAll">Kill All
                    <a id="killAll" href="javascript://" role="tooltip" aria-haspopup="true"
                        class="tooltip tooltip-md tooltip-bottom-right">
                        <clr-icon shape="info-circle" size="24"></clr-icon>
                        <span class="tooltip-content">If true, it will kill all the processes with same
                            identifier</span>
                    </a>
                </label>
                <div class="select">
                    <select name="killAll" [(ngModel)]="faultFormData.killAll" [required]="!processIdentifierHidden">
                        <option>false</option>
                        <option>true</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="remediationCommand">Remediation Command (optional)</label>
                <input type="text" name="remediationCommand" id="remediationCommand" [(ngModel)]="faultFormData.remediationCommand">
            </div>
            <fault-injectionhomedir [faultFormData]="faultFormData"></fault-injectionhomedir>
            <fault-schedule [faultFormData]="faultFormData" (submitButtonChange)="setSubmitButton();" (setCronModal)="viewCronModal($event);"></fault-schedule>
            <fault-tags [tagsData]="tagsData" (tagsModalEvent)="tagsModal=$event;"></fault-tags>
            <fault-notifiers [notifiersData]="notifiersData" (notifiersModalEvent)="notifierModal=$event;"></fault-notifiers>
        </section>
        <button type="submit" class="btn btn-primary" [clrLoading]="runBtnState" [disabled]="disableSchedule">SCHEDULE FAULT</button>
        <button type="submit" class="btn btn-primary" [clrLoading]="runBtnState" [disabled]="disableRun">RUN FAULT</button>
    </form>
</div>
<app-cron [cronModal]="cronModal" [cronValOrig]="faultFormData.schedule.cronExpression"
    (cronMessageEvent)="setScheduleCron($event);"></app-cron>
<app-tags [tagsModal]="tagsModal" [tagsData]="tagsData" (updateTagsModal)="tagsModal=$event;"></app-tags>
<app-notifiers [notifierModal]="notifierModal" [notifiersData]="notifiersData" (updateNotifiersModal)="notifierModal=$event;"></app-notifiers>
