<app-alert [(alertMessage)]="alertMessage" [isErrorMessage]="isErrorMessage"
    (alertMessageChange)="alertMessage = $event;"></app-alert> <br />
<div [hidden]="serviceDatagrid">
    <clr-alert [clrAlertClosable]="false">
        <clr-alert-item>
            <span class="alert-text">
                Experimental Feature: The Resiliency Score calculation feature is currently supported only for Wavefront
                monitoring data source.
            </span>
        </clr-alert-item>
    </clr-alert>
    <clr-datagrid [clrDgLoading]="isLoading" [(clrDgSelected)]="selectedServices">
        <clr-dg-action-bar>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary" [disabled]="selectedServices.length >= 1"
                    (click)="populateServiceForm({'name': null, 'queryNames': null, 'tags': null});serviceDatagrid=true;serviceForm=false;addEdit='Add';">
                    <clr-icon shape="plus"></clr-icon> Add
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary"
                    [disabled]="selectedServices.length === 0 || selectedServices.length > 1"
                    (click)="populateServiceForm(selectedServices[0]);serviceDatagrid=true;serviceForm=false;addEdit='Edit';">
                    <clr-icon shape="pencil"></clr-icon> Edit
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-secondary"
                    [disabled]="selectedServices.length === 0 || selectedServices.length > 1"
                    (click)="deleteService(selectedServices[0]);">
                    <clr-icon shape="close"></clr-icon> Delete
                </button>
            </div>
        </clr-dg-action-bar>

        <clr-dg-column [clrDgField]="'name'">Service Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'queryNames'">Query Names</clr-dg-column>
        <clr-dg-column [clrDgField]="'tags'">Tags</clr-dg-column>

        <clr-dg-row *clrDgItems="let service of allServices" [clrDgItem]="service">
            <clr-dg-cell>{{service.name}}</clr-dg-cell>
            <clr-dg-cell><span class="label label-info" *ngFor="let item of service.queryNames ">{{item}}</span>
            </clr-dg-cell>
            <clr-dg-cell><span class="label label-info"
                    *ngFor="let item of service.tags | keyvalue">{{item.key}}={{item.value}}</span></clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Queries per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} allServices
            </clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
</div>


<div [hidden]="serviceForm">
    <h3 class="modal-title">{{addEdit}} Service Definition</h3>
    <form #serviceInputForm="ngForm" *ngIf="serviceFormData"
        (ngSubmit)="addOrUpdateService(serviceInputForm.value,addEdit);serviceDatagrid=false;serviceForm=true;"
        ngNativeValidate>
        <section class="form-block">
            <div class="form-group">
                <input type="text" name="id" [(ngModel)]="serviceFormData.id" [hidden]="true">
            </div>
            <div class="form-group">
                <label for="name">Service Name
                    <a href="javascript://" role="tooltip" aria-haspopup="true"
                        class="tooltip tooltip-md tooltip-bottom-right">
                        <clr-icon shape="info-circle" size="24"></clr-icon>
                        <span class="tooltip-content">Provide a name to uniquely identify the Service defintion. Note
                            that: On providing an existing service name, the specified existing Service definition will
                            be updated with the specified updated value.</span>
                    </a>
                </label>
                <input type="text" name="name" id="name" pattern="^[A-Za-z0-9-_.]+$"
                    title="alphanumeric and special characters (_ - .) are allowed" [(ngModel)]="serviceFormData.name"
                    [required]="addEdit == 'Add'" [readonly]="addEdit == 'Edit'">
            </div>
            <div class="form-group">
                <label for="queryNames">Query Names*
                    <a href="javascript://" role="tooltip" aria-haspopup="true"
                        class="tooltip tooltip-md tooltip-bottom-right">
                        <clr-icon shape="info-circle" size="24"></clr-icon>
                        <span class="tooltip-content">[Mandatory field] Select one or more query names to be queried while calculating the
                            Resiliencyscore for the service.</span>
                    </a>
                </label>
                <div class="select multiple">
                    <select name="queryNames" id="queryNames" [(ngModel)]="serviceFormData.queryNames" multiple required>
                        <ng-container *ngFor="let query of allQueries">
                            <option [value]="query.name">{{query.name}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="tags">Tags*
                    <a href="javascript://" role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-bottom-right">
                        <clr-icon shape="info-circle" size="24"></clr-icon>
                        <span class="tooltip-content">[Mandatory field] Tags uniquely identifying the Service in Monitoring system.
                            Example: Tag Name: Service and Tag Value: mangle-app.
                            The Resiliency score calculator will try to search for fault events with the tags specified here to get
                            the faults corresponding to the service. </span>
                    </a>
                </label>
                <span class="label label-info" *ngFor="let item of tagsData | keyvalue">{{item.key}}={{item.value}}&nbsp;
                    <clr-icon shape="times" size="12" (click)="removeTag(item.key);"></clr-icon>
                </span>
                <clr-icon shape="plus-circle" (click)="tagsModal=true;" style="width:21px;height:30px;">
                </clr-icon>
            </div>
        </section>
        <button type="submit" class="btn btn-primary" [disabled]="tagsSet === false">SUBMIT</button>
        <button type="button" class="btn btn-outline"
            (click)="serviceDatagrid=false;serviceForm=true;ngOnInit();">CANCEL</button>
    </form>
</div>
<clr-modal [(clrModalOpen)]="tagsModal" [clrModalClosable]="false">
    <h3 class="modal-title">Add Tags</h3>
    <div class="modal-body">
        <form #tagsForm="ngForm" (ngSubmit)="updateTags(tagsForm.value);tagsModal=false;tagsForm.reset();"
            ngNativeValidate>
            <section class="form-block">
                <div class="form-group">
                    <label for="tagKey">Key</label>
                    <input type="text" name="tagKey" ngModel required>
                </div>
                <div class="form-group">
                    <label for="tagValue">Value</label>
                    <input type="text" name="tagValue" ngModel required>
                </div>
            </section>
            <button type="submit" class="btn btn-primary" [disabled]="tagsForm.invalid">ADD</button>
            <button type="button" class="btn btn-outline" (click)="tagsModal=false;tagsForm.reset();">CANCEL</button>
        </form>
    </div>
</clr-modal>
