<h2 class="modal-title">Azure Virtual Machine Faults</h2><br>
<ul class="nav-azure">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['vm-state']" routerLinkActive="active"><span
                class="nav-text-azure">State</span></a>
    </li>
    <li class="nav-item" >
        <a class="nav-link" [routerLink]="['vm-network']" routerLinkActive="active"><span
                class="nav-text-azure">Network</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['vm-storage']" routerLinkActive="active"><span
                class="nav-text-azure">Storage</span></a>
    </li>
</ul>
<div class="content-area-azure">
    <router-outlet></router-outlet>
</div>