<div style="text-align:center;">
  <section>
    <h1><b>Orchestrated Chaos Engineering using Mangle</b></h1>
    <p>In order to avoid downtime of your infrastructure or application, Mangle runs proactive chaos experiments to verify that your system can withstand failure.</p>
  </section>
  <br/>
  <section style="background:#D9E4EA;"><br/>
      <h3>Add infrastructure/application as an endpoint to Mangle</h3>
      <img src="assets/images/kubernetes.png" height="150" width="170"/><img src="assets/images/docker.png" height="130" width="150"/>&nbsp;&nbsp;<img src="assets/images/vmware.png" height="120" width="120"/>&nbsp;&nbsp;&nbsp;<img src="assets/images/machine.png" height="120" width="120"/>
      <p>You can add target infrastructure/application as an endpoint to Mangle using endpoint tab on the home page.</p>
      <a href="#/core/endpoint"><button class="btn btn-outline">Add Target</button></a>
  </section>
  <section>
    <h3>Inject fault and run custom workflow onto the endpoint during fault duration</h3>
    <p>Inject fault and run custom workflow onto the endpoint during fault duration</p>
    <a href="#/core/fault"><button class="btn btn-outline">Run Faults</button></a>
  </section>
  <br/>
  <section style="background:#D9E4EA;"><br/>
    <h3>View report and publish result to metric provider</h3>
    <p>View report and publish result to metric provider</p>
    <a href="#/core/requests"><button class="btn btn-outline">View Reports</button></a>
  </section>
  <section>
    <h3>Why Mangle?</h3>
    <p>some points about Mangle</p>
  </section>
  <br/>
  <section style="background:#D9E4EA;"><br/>
    <h3>Use Mangle as automation</h3>
    <p>With the help of Mangle API Documentation you can automate resiliency productivity</p>
    <a href="swagger-ui.html" target="_blank"><button class="btn btn-outline">API Documentation</button></a>
  </section>
  <section>
    <h3>Stay Connected with Mangle team</h3>
    <p>mangle@vmware.com</p><br/>
    <p>Copyright (c) 2019 VMware, Inc. All Rights Reserved.</p>
  </section>
</div>
