<app-alert [(alertMessage)]="alertMessage" [isErrorMessage]="isErrorMessage"
    (alertMessageChange)="alertMessage = $event"></app-alert>
<div>
    <h3 class="modal-title">Execute/Schedule Disk IO Fault</h3>
    <form #diskioForm="ngForm" (ngSubmit)="executeDiskIOFault(diskioForm.value);" ngNativeValidate>
        <section class="form-block">
            <fault-endpoint [faultFormData]="faultFormData" [supportedEpTypes]="supportedEpTypes" [endpoints]="endpoints" (displayEndpointFieldsEvent)="displayEndpointFields($event);" (dockerContainersEvent)="getDockerContainers($event['endPointType'], $event['name']);"></fault-endpoint>
            <fault-dockerargs [faultFormData]="faultFormData" [dockerHidden]="dockerHidden" [dockerContainers]="dockerContainers" [searchedContainers]="searchedContainers"></fault-dockerargs>
            <fault-k8sargs [faultFormData]="faultFormData" [k8sHidden]="k8sHidden"></fault-k8sargs>
            <fault-timeoutms [faultFormData]="faultFormData"></fault-timeoutms>
            <div class="form-group">
                <label for="ioSize">IO Size (Bytes)</label>
                <input type="number" name="ioSize" id="ioSize" [(ngModel)]="faultFormData.ioSize" min="1" max="2147483647" required>
            </div>
            <div class="form-group">
                <label for="targetDir">Target Directory</label>
                <input type="text" name="targetDir" id="targetDir" [(ngModel)]="faultFormData.targetDir" required>
            </div>
            <fault-injectionhomedir [faultFormData]="faultFormData"></fault-injectionhomedir>
            <fault-schedule [faultFormData]="faultFormData" (submitButtonChange)="setSubmitButton();" (setCronModal)="viewCronModal($event);"></fault-schedule>
            <fault-tags [tagsData]="tagsData" (tagsModalEvent)="tagsModal=$event;"></fault-tags>
            <fault-notifiers [notifiersData]="notifiersData" (notifiersModalEvent)="notifierModal=$event;"></fault-notifiers>
        </section>
        <button type="submit" class="btn btn-primary" [clrLoading]="runBtnState" [disabled]="disableSchedule">SCHEDULE FAULT</button>
        <button type="submit" class="btn btn-primary" [clrLoading]="runBtnState" [disabled]="disableRun">RUN FAULT</button>
    </form>
</div>
<app-cron [cronModal]="cronModal" [cronValOrig]="faultFormData.schedule.cronExpression"
    (cronMessageEvent)="setScheduleCron($event);"></app-cron>
<app-tags [tagsModal]="tagsModal" [tagsData]="tagsData" (updateTagsModal)="tagsModal=$event;"></app-tags>
<app-notifiers [notifierModal]="notifierModal" [notifiersData]="notifiersData" (updateNotifiersModal)="notifierModal=$event;"></app-notifiers>
