<app-alert [(alertMessage)]="alertMessage" [isErrorMessage]="isErrorMessage" (alertMessageChange)="alertMessage = $event"></app-alert>
<div>
    <h3 class="modal-title">Execute K8S Service Unavailable Fault</h3>
    <form #k8sServiceUnavailableForm="ngForm" (ngSubmit)="executeK8SServiceUnavailableFault(k8sServiceUnavailableForm.value);" ngNativeValidate>
        <section class="form-block">
            <fault-endpoint [faultFormData]="faultFormData" [supportedEpTypes]="supportedEpTypes" [endpoints]="endpoints" (displayEndpointFieldsEvent)="displayEndpointFields($event);"></fault-endpoint>
            <div class="form-group">
                <label>Service</label>
                <div class="clr-control-container clr-control-inline">
                    <div class="clr-radio-wrapper">
                        <input type="radio" id="resourceName" name="resource" value="resourceName" class="clr-radio" (click)="setResourceVal($event.target.value);">
                        <label for="resourceName" class="clr-control-label">Service Name</label>
                    </div>
                    <div class="clr-radio-wrapper">
                        <input type="radio" id="resourceLabels" name="resource" value="resourceLabels" class="clr-radio" (click)="setResourceVal($event.target.value);">
                        <label for="resourceLabels" class="clr-control-label">Service Labels</label>
                    </div>
                </div>
            </div>
            <div class="form-group" [hidden]="resourceNameHidden">
                <input type="text" name="resourceName" pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?" title="Servicename must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character (e.g. 'my-name',  or '123-abc')" [(ngModel)]="faultFormData.resourceName" [required]="!resourceNameHidden">
            </div>
            <div class="form-group" [hidden]="resourceLabelsHidden">
                <label></label>
                <span class="label label-info" *ngFor="let item of resourceLabelsData | keyvalue">{{item.key}}={{item.value}}&nbsp;<clr-icon shape="times" size="12" (click)="removeResourceLabels(item.key);"></clr-icon></span>
                <clr-icon shape="plus-circle" (click)="resourceLabelsModal=true;" style="width:21px;height:30px;"></clr-icon>
            </div>
            <div class="form-group" [hidden]="resourceLabelsHidden">
                <label for="randomInjection">Random Injection</label>
                <div class="select">
                    <select name="randomInjection" id="randomInjection" [(ngModel)]="faultFormData.randomInjection" [required]="!resourceLabelsHidden">
                        <option [ngValue]="true">true</option>
                        <option [ngValue]="false">false</option>
                    </select>
                </div>
            </div>
            <fault-tags [tagsData]="tagsData" (tagsModalEvent)="tagsModal=$event;"></fault-tags>
            <fault-notifiers [notifiersData]="notifiersData" (notifiersModalEvent)="notifierModal=$event;"></fault-notifiers>
        </section>
        <button type="submit" class="btn btn-primary" [clrLoading]="runBtnState">RUN FAULT</button>
    </form>
</div>
<clr-modal [(clrModalOpen)]="resourceLabelsModal">
    <h3 class="modal-title">Add Resource Labels</h3>
    <div class="modal-body">
        <form #resourceLabelsForm="ngForm" (ngSubmit)="updateResourceLabels(resourceLabelsForm.value);resourceLabelsModal=false;resourceLabelsForm.reset();">
            <section class="form-block">
                <div class="form-group">
                    <label for="resourceLabelsKey">Key</label>
                    <input type="text" name="resourceLabelsKey" id="resourceLabelsKey" ngModel>
                </div>
                <div class="form-group">
                    <label for="resourceLabelsValue">Value</label>
                    <input type="text" name="resourceLabelsValue" id="resourceLabelsValue" ngModel>
                </div>
            </section>
            <button type="button" class="btn btn-outline" (click)="resourceLabelsModal=false;">CANCEL</button>
            <button type="submit" class="btn btn-primary">ADD</button>
        </form>
    </div>
</clr-modal>
<app-tags [tagsModal]="tagsModal" [tagsData]="tagsData" (updateTagsModal)="tagsModal=$event;"></app-tags>
<app-notifiers [notifierModal]="notifierModal" [notifiersData]="notifiersData" (updateNotifiersModal)="notifierModal=$event;"></app-notifiers>
