<app-alert [(alertMessage)]="alertMessage" [isErrorMessage]="isErrorMessage" (alertMessageChange)="alertMessage = $event"></app-alert>
<div>
    <h3 class="modal-title">Execute Simulate Java Exception Fault</h3>
    <form #simulateJavaExceptionForm="ngForm" (ngSubmit)="executeSimulateJavaExceptionFault(simulateJavaExceptionForm.value);" ngNativeValidate>
        <section class="form-block">
            <fault-endpoint [faultFormData]="faultFormData" [supportedEpTypes]="supportedEpTypes" [endpoints]="endpoints" (displayEndpointFieldsEvent)="displayEndpointFields($event);" (dockerContainersEvent)="getDockerContainers($event['endPointType'],$event['name']);"></fault-endpoint>
            <fault-dockerargs [faultFormData]="faultFormData" [dockerHidden]="dockerHidden" [dockerContainers]="dockerContainers" [searchedContainers]="searchedContainers"></fault-dockerargs>
            <fault-k8sargs [faultFormData]="faultFormData" [k8sHidden]="k8sHidden"></fault-k8sargs>
            <fault-jvmargs [faultFormData]="faultFormData" [k8sHidden]="k8sHidden" [dockerHidden]="dockerHidden"></fault-jvmargs>
            <div class="form-group">
                <label for="className">Class Name</label>
                <input type="text" name="className" id="className" [(ngModel)]="faultFormData.className" required>
            </div>
            <div class="form-group">
                <label for="methodName">Method Name</label>
                <input type="text" name="methodName" id="methodName" [(ngModel)]="faultFormData['methodName']" required>
            </div>
            <div class="form-group">
                <label for="ruleEvent">Rule Event</label>
                <input type="text" name="ruleEvent" id="ruleEvent" [(ngModel)]="faultFormData.ruleEvent" required>
            </div>
            <div class="form-group">
                <label for="exceptionClass">Exception class</label>
                <input type="text" name="exceptionClass" id="exceptionClass" [(ngModel)]="faultFormData.exceptionClass" required>
            </div>
            <div class="form-group">
                <label for="exceptionMessage">Exception Message</label>
                <input type="text" name="exceptionMessage" id="exceptionMessage" [(ngModel)]="faultFormData.exceptionMessage" required>
            </div>
            <fault-injectionhomedir [faultFormData]="faultFormData"></fault-injectionhomedir>
            <fault-tags [tagsData]="tagsData" (tagsModalEvent)="tagsModal=$event;"></fault-tags>
            <fault-notifiers [notifiersData]="notifiersData" (notifiersModalEvent)="notifierModal=$event;"></fault-notifiers>
        </section>
        <button type="submit" class="btn btn-primary" [clrLoading]="runBtnState" [disabled]="disableRun">RUN FAULT</button>
    </form>
</div>
<app-tags [tagsModal]="tagsModal" [tagsData]="tagsData" (updateTagsModal)="tagsModal=$event;"></app-tags>
<app-notifiers [notifierModal]="notifierModal" [notifiersData]="notifiersData" (updateNotifiersModal)="notifierModal=$event;"></app-notifiers>
