<div class="main-container">
    <div class="content-container">
        <div class="content-area height-1200">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="false">
            <clr-vertical-nav-group routerLinkActive="active">
                <clr-icon shape="align-bottom" clrVerticalNavIcon></clr-icon>Requests
                <clr-vertical-nav-group-children *clrIfExpanded="true">
                    <a clrVerticalNavLink [routerLink]="['processed']" routerLinkActive="active">Processed Requests</a>
                    <a clrVerticalNavLink [routerLink]="['scheduled']" routerLinkActive="active">Scheduled Jobs</a>
                </clr-vertical-nav-group-children>
            </clr-vertical-nav-group>
            <a clrVerticalNavLink [routerLink]="['events']" routerLinkActive="active" *ngIf="isAdminUser">
                <clr-icon shape="event" clrVerticalNavIcon></clr-icon>Application Events
            </a>
        </clr-vertical-nav>
    </div>
</div>
