<clr-alert *ngIf="errorFlag" [clrAlertType]="'danger'">
    <div class="alert-item">{{alertMessage}}</div>
  </clr-alert>
  <clr-alert *ngIf="successFlag" [clrAlertType]="'success'">
    <div class="alert-item">{{alertMessage}}</div>
  </clr-alert>
<clr-dropdown>
    <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
        <clr-icon shape="plus"></clr-icon> Credentials <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
        <button type="button" (click)="machineCredential=true;" clrDropdownItem>Remote Machine</button>
        <button type="button" (click)="kubernetesCredential=true;" clrDropdownItem>k8s Cluster</button>
        <button type="button" (click)="vcenterCredential=true;" clrDropdownItem>vCenter</button>
    </clr-dropdown-menu>
</clr-dropdown>
<clr-datagrid [clrDgLoading]="isLoading">
	<clr-dg-column>Credential Name</clr-dg-column>
    <clr-dg-column>Credential Type</clr-dg-column>
    <clr-dg-row *clrDgItems="let credentialVal of credentials" [clrDgItem]="credentialVal">
        <clr-dg-action-overflow>
            <button class="action-item" (click)="deleteCredential(credentialVal)">Delete</button>
        </clr-dg-action-overflow>
		<clr-dg-cell>{{credentialVal.name}}</clr-dg-cell>
		<clr-dg-cell>{{credentialVal.type}}</clr-dg-cell>
    </clr-dg-row>
	<clr-dg-footer>
		<clr-dg-pagination #pagination [clrDgPageSize]="10">
			<clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Credentials per page</clr-dg-page-size>
			{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} credentials
		</clr-dg-pagination>
	</clr-dg-footer>
</clr-datagrid>
<clr-modal [(clrModalOpen)]="machineCredential">
    <h3 class="modal-title">Add Machine Credential</h3>
    <div class="modal-body">
        <form #machineCredentialForm="ngForm" (ngSubmit)="addMachineCredential(machineCredentialForm.value);machineCredential=false;" ngNativeValidate>
            <section class="form-block">
                <div class="form-group">
                    <label for="name">Credential Name</label>
                    <input type="text" name="name" ngModel required>
                </div>
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" name="username" ngModel required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" ngModel>
                </div>
                <div class="form-group">
                    <label for="privateKey">Private Key</label>
                    <input type="file" name="privateKey" (change)="getPvtKeyFiles($event)" ngModel>
                </div>
            </section>
            <button type="button" class="btn btn-outline" (click)="machineCredential=false;">CANCEL</button>
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="kubernetesCredential">
    <h3 class="modal-title">Add k8s Credential</h3>
    <div class="modal-body">
        <form #kubernetesCredentialForm="ngForm" (ngSubmit)="addKubernetesCredential(kubernetesCredentialForm.value);kubernetesCredential=false;" ngNativeValidate>
            <section class="form-block">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" ngModel required>
                </div>
                <div class="form-group">
                    <label for="kubeConfig">Kube Config File</label>
                    <input type="file" name="kubeConfig" (change)="getK8SFiles($event)" ngModel>
                </div>
            </section>
            <button type="button" class="btn btn-outline" (click)="kubernetesCredential=false;">CANCEL</button>
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="vcenterCredential">
    <h3 class="modal-title">Add Vcenter Credential</h3>
    <div class="modal-body">
        <form #vcenterCredentialForm="ngForm" (ngSubmit)="addVcenterCredential(vcenterCredentialForm.value);vcenterCredential=false;">
            <section class="form-block">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" ngModel required>
                </div>
				<div class="form-group">
                    <label for="userName">User</label>
                    <input type="text" name="userName" ngModel required>
                </div>
				<div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" ngModel required>
                </div>
            </section>
            <button type="button" class="btn btn-outline" (click)="vcenterCredential=false;">CANCEL</button>
            <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
    </div>
</clr-modal>