<app-alert [(alertMessage)]="alertMessage" [isErrorMessage]="isErrorMessage"
    (alertMessageChange)="alertMessage = $event"></app-alert><br />
<clr-dropdown>
    <button type="button" class="btn btn-sm btn-secondary" data-tag="Credentials-dropdown"
        [disabled]="selectedCreds.length >= 1" clrDropdownTrigger>
        <clr-icon shape="plus"></clr-icon> Credentials <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
        <button type="button"
            (click)="populateCredentialForm({'id':null,'name':null,'username':null,'password':null,'privateKey':null});addEdit='Add';machineCredentialModal=true;"
            clrDropdownItem>Remote Machine</button>
        <button type="button"
            (click)="populateCredentialForm({'id':null,'name':null});addEdit='Add';k8sCredentialModal=true;"
            clrDropdownItem>k8s Cluster</button>
        <button type="button"
            (click)="populateCredentialForm({'id':null,'name':null,'userName':null,'password':null});addEdit='Add';vcenterCredentialModal=true;"
            clrDropdownItem>vCenter</button>
        <button type="button"
            (click)="populateCredentialForm({'id':null,'name':null,'accessKey':null,'secretKey':null});addEdit='Add';awsCredentialModal=true;"
            clrDropdownItem>AWS</button>
        <button type="button"
            (click)="populateCredentialForm({'id':null,'name':null,'azureClientId':null,'azureClientKey':null});addEdit='Add';azureCredentialModal=true;"
            clrDropdownItem>Azure</button>
        <button type="button"
            (click)="populateCredentialForm({'name':null,'dbType':'POSTGRES','dbUserName':null,'dbPassword':null,'dbPort':5432,'dbName':null,'dbSSLEnabled':false});addEdit='Add';databaseCredentialModal=true;"
            clrDropdownItem>Database</button>
    </clr-dropdown-menu>
</clr-dropdown> &nbsp;
<div class="btn-group">
    <button type="button" class="btn btn-sm btn-secondary"
        [disabled]="selectedCreds.length === 0 || selectedCreds.length > 1"
        (click)="populateCredentialForm(selectedCreds[0]);addEdit='Edit'; setEndpointTypeCredential(selectedCreds[0]);">
        <clr-icon shape="pencil"></clr-icon> Edit
    </button>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-sm btn-secondary" data-tag='credentials-DeleteButton'
        [disabled]="selectedCreds.length === 0" (click)="deleteCredential(selectedCreds);">
        <clr-icon shape="close"></clr-icon> Delete
    </button>
</div>

<clr-datagrid [clrDgLoading]="isLoading" [(clrDgSelected)]="selectedCreds">
    <clr-dg-column [clrDgField]="'name'">Credential Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'type'">Credential Type</clr-dg-column>
    <clr-dg-row *clrDgItems="let credentialVal of credentials" [clrDgItem]="credentialVal">
        <clr-dg-cell>{{credentialVal.name}}</clr-dg-cell>
        <clr-dg-cell>{{credentialVal.type}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Credentials per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} credentials
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
<app-credential [(machineCredentialModal)]="machineCredentialModal" [(machineCredentialFormData)]="credentialFormData"
    [(addEdit)]="addEdit" (outputMessage)="closeCredentialForm($event);"></app-credential>
<app-credential [(k8sCredentialModal)]="k8sCredentialModal" [(k8sCredentialFormData)]="credentialFormData"
    [(addEdit)]="addEdit" (outputMessage)="closeCredentialForm($event);"></app-credential>
<app-credential [(vcenterCredentialModal)]="vcenterCredentialModal" [(vcenterCredentialFormData)]="credentialFormData"
    [(addEdit)]="addEdit" (outputMessage)="closeCredentialForm($event);"></app-credential>
<app-credential [(awsCredentialModal)]="awsCredentialModal" [(awsCredentialFormData)]="credentialFormData"
    [(addEdit)]="addEdit" (outputMessage)="closeCredentialForm($event);"></app-credential>
<app-credential [(azureCredentialModal)]="azureCredentialModal" [(azureCredentialFormData)]="credentialFormData"
    [(addEdit)]="addEdit" (outputMessage)="closeCredentialForm($event);"></app-credential>
<app-credential [(databaseCredentialModal)]="databaseCredentialModal"
    [(databaseCredentialFormData)]="credentialFormData" [(addEdit)]="addEdit"
    (outputMessage)="closeCredentialForm($event);"></app-credential>