<div style="text-align:center;">
  <section>
    <h1><b>Orchestrate Chaos Engineering using Mangle</b></h1>
    <p>Avoid downtime of your infrastructure or application through proactive chaos experiments using Mangle.</p>
  </section>
  <br/>
  <section style="background:#D9E4EA;">
      <div style="height:1px;"></div>
      <h3>Register infrastructure as an endpoint to Mangle</h3>
      <a href="#/core/endpoint/kubernetes"><img src="assets/images/kubernetes.png" height="150" width="170"/></a>
      <a href="#/core/endpoint/docker"><img src="assets/images/docker.png" height="130" width="150"/></a>&nbsp;&nbsp;
      <a href="#/core/endpoint/vcenter"><img src="assets/images/vmware.png" height="120" width="120"/></a>&nbsp;&nbsp;&nbsp;
      <a href="#/core/endpoint/machine"><img src="assets/images/machine.png" height="120" width="120"/></a>&nbsp;&nbsp;&nbsp;
      <a href="#/core/endpoint/aws"><img src="assets/images/aws/aws.png"  height="120" width="120"/></a>&nbsp;&nbsp;&nbsp;
      <a href="#/core/endpoint/azure"><img src="assets/images/azure/azure-main.png" height="120" width="120"/></a>
  </section>
  <section>
    <h3>Inject Faults on Registered Endpoint</h3>
    <br /><a href="#/core/fault"><button class="btn btn-outline">Run Faults</button></a>
  </section>
  <br/>
  <section style="background:#D9E4EA;">
    <div style="height:1px;"></div>
    <h3>View report and publish result to metric provider</h3>
    <br /><a href="#/core/requests"><button class="btn btn-outline">View Reports</button></a>
  </section>
  <section>
    <h3>Stay Connected with Mangle team</h3>
    <p><a href="mailto:mangle@vmware.com">mangle@vmware.com</a><br/>Copyright (c) 2019 VMware, Inc. All Rights Reserved.</p>
  </section>
</div>
