/* You can add global styles to this file, and also import other style files */
.height-1200 {
    height:1200px;
}
.menu-height {
    max-height: calc(10 * 1.5rem);
    overflow-y: scroll;
}
.option-height {
    min-height: 1.5rem;
}
