<div class="main-container">
	<div class="content-container">
		<div class="content-area">
			<router-outlet></router-outlet>
		</div>
		<clr-vertical-nav [clrVerticalNavCollapsible]="false">
			<clr-vertical-nav-group routerLinkActive="active">
				<clr-icon shape="cloud" clrVerticalNavIcon></clr-icon>Endpoints
				<clr-vertical-nav-group-children *clrIfExpanded="true">
					<a clrVerticalNavLink [routerLink]="['machine']" routerLinkActive="active">Remote Machine</a>
					<a clrVerticalNavLink [routerLink]="['kubernetes']" routerLinkActive="active">Kubernetes Cluster</a>
					<a clrVerticalNavLink [routerLink]="['docker']" routerLinkActive="active">Docker</a>
					<a clrVerticalNavLink [routerLink]="['vcenter']" routerLinkActive="active">VMware vCenter</a>
					<a clrVerticalNavLink [routerLink]="['aws']" routerLinkActive="active">AWS</a>
					<a clrVerticalNavLink [routerLink]="['azure']" routerLinkActive="active">Azure</a>
					<a clrVerticalNavLink [routerLink]="['redis-proxy']" routerLinkActive="active">Redis Proxy</a>
					<a clrVerticalNavLink [routerLink]="['database']" routerLinkActive="active">Database</a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>
			<a clrVerticalNavLink [routerLink]="['endpoint-groups']" routerLinkActive="active">
				<clr-icon shape="cloud-scale" clrVerticalNavIcon></clr-icon>Endpoint
				Groups
			</a>
			<clr-vertical-nav-group routerLinkActive="active">
				<clr-icon shape="lock" clrVerticalNavIcon></clr-icon>Credentials
				<clr-vertical-nav-group-children *clrIfExpanded="false">
					<a clrVerticalNavLink [routerLink]="['endpoint-credentials']" routerLinkActive="active">Endpoint
						Credentials</a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>
			<clr-vertical-nav-group routerLinkActive="active">
				<clr-icon shape="certificate" clrVerticalNavIcon></clr-icon>Certificates
				<clr-vertical-nav-group-children *clrIfExpanded="false">
					<a clrVerticalNavLink [routerLink]="['endpoint-certificates']" routerLinkActive="active">Endpoint
						Certificates</a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>
			<clr-vertical-nav-group routerLinkActive="active">
				<clr-icon shape="connect" clrVerticalNavIcon></clr-icon>Adapters
				<clr-vertical-nav-group-children *clrIfExpanded="false">
					<a clrVerticalNavLink [routerLink]="['vcenter-adapter']" routerLinkActive="active">VCenter
						Adapter</a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>
			<a clrVerticalNavLink [routerLink]="['events']" routerLinkActive="active" *ngIf="isAdminUser">
				<clr-icon shape="event" clrVerticalNavIcon></clr-icon>Application Events
			</a>
		</clr-vertical-nav>
	</div>
</div>