<clr-modal [(clrModalOpen)]="awsCredentialModal" [clrModalClosable]="false">
    <h3 class="modal-title">{{addEdit}} Aws Credential</h3>
    <div class="modal-body">
        <form #awsCredentialForm="ngForm" (ngSubmit)="addUpdateCredential(awsCredentialForm);"
            *ngIf="awsCredentialFormData" ngNativeValidate>
            <section class="form-block">
                <div class="form-group">
                    <input type="text" name="id" [(ngModel)]="awsCredentialFormData.id" [hidden]="true">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" pattern="^[A-Za-z0-9-_.]+$"
                        title="alphanumeric and special characters (_ - .) are allowed"
                        [(ngModel)]="awsCredentialFormData.name" [required]="addEdit == 'Add'"
                        [readonly]="addEdit == 'Edit'">
                </div>
                <div class="form-group">
                    <label for="accessKeyId">accessKeyId</label>
                    <input type="text" name="accessKeyId" [(ngModel)]="awsCredentialFormData.accessKeyId" required>
                </div>
                <div class="form-group">
                    <label for="secretKey">secretKey</label>
                    <input type="password" name="secretKey" [(ngModel)]="awsCredentialFormData.secretKey" required>
                </div>
            </section>
            <button type="submit" class="btn btn-primary" [clrLoading]="btnState">SUBMIT</button>
            <button type="button" class="btn btn-outline" (click)="cancelForm(awsCredentialForm);">CANCEL</button>
        </form>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="azureCredentialModal" [clrModalClosable]="false">
    <h3 class="modal-title">{{addEdit}} Azure Credential</h3>
    <div class="modal-body">
        <form #azureCredentialForm="ngForm" (ngSubmit)="addUpdateCredential(azureCredentialForm);"
            *ngIf="azureCredentialFormData" ngNativeValidate>
            <section class="form-block">
                <div class="form-group">
                    <input type="text" name="id" [(ngModel)]="azureCredentialFormData.id" [hidden]="true">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" pattern="^[A-Za-z0-9-_.]+$"
                        title="alphanumeric and special characters (_ - .) are allowed"
                        [(ngModel)]="azureCredentialFormData.name" [required]="addEdit == 'Add'"
                        [readonly]="addEdit == 'Edit'">
                </div>
                <div class="form-group">
                    <label for="azureClientId">Client application ID</label>
                    <input type="text" name="azureClientId" [(ngModel)]="azureCredentialFormData.azureClientId"
                        required>
                </div>
                <div class="form-group">
                    <label for="azureClientKey">Client application secret key</label>
                    <input type="password" name="azureClientKey" [(ngModel)]="azureCredentialFormData.azureClientKey"
                        required>
                </div>
            </section>
            <button type="submit" class="btn btn-primary" [clrLoading]="btnState">SUBMIT</button>
            <button type="button" class="btn btn-outline" (click)="cancelForm(azureCredentialForm);">CANCEL</button>
        </form>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="vcenterCredentialModal" [clrModalClosable]="false">
    <h3 class="modal-title">{{addEdit}} Vcenter Credential</h3>
    <div class="modal-body">
        <form #vcenterCredentialForm="ngForm" (ngSubmit)="addUpdateCredential(vcenterCredentialForm);"
            *ngIf="vcenterCredentialFormData" ngNativeValidate>
            <section class="form-block">
                <div class="form-group">
                    <input type="text" name="id" [(ngModel)]="vcenterCredentialFormData.id" [hidden]="true">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" pattern="^[A-Za-z0-9-_.]+$"
                        title="alphanumeric and special characters (_ - .) are allowed"
                        [(ngModel)]="vcenterCredentialFormData.name" [required]="addEdit == 'Add'"
                        [readonly]="addEdit == 'Edit'">
                </div>
                <div class="form-group">
                    <label for="userName">User</label>
                    <input type="text" name="userName" [(ngModel)]="vcenterCredentialFormData.userName" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" [(ngModel)]="vcenterCredentialFormData.password" required>
                </div>
            </section>
            <button type="submit" class="btn btn-primary" [clrLoading]="btnState">SUBMIT</button>
            <button type="button" class="btn btn-outline" (click)="cancelForm(vcenterCredentialForm);">CANCEL</button>
        </form>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="k8sCredentialModal" [clrModalClosable]="false">
    <h3 class="modal-title">{{addEdit}} k8s Credential</h3>
    <div class="modal-body">
        <form #kubernetesCredentialForm="ngForm" (ngSubmit)="addUpdateCredential(kubernetesCredentialForm);"
            *ngIf="k8sCredentialFormData" ngNativeValidate>
            <section class="form-block">
                <div class="form-group">
                    <input type="text" name="id" [(ngModel)]="k8sCredentialFormData.id" [hidden]="true">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" pattern="^[A-Za-z0-9-_.]+$"
                        title="alphanumeric and special characters (_ - .) are allowed"
                        [(ngModel)]="k8sCredentialFormData.name" [required]="addEdit == 'Add'"
                        [readonly]="addEdit == 'Edit'">
                </div>
                <div class="form-group">
                    <label for="kubeConfig">Kube Config File
                        <a href="javascript://" role="tooltip" aria-haspopup="true"
                            class="tooltip tooltip-md tooltip-bottom-right">
                            <clr-icon shape="info-circle" size="24"></clr-icon>
                            <span class="tooltip-content">Mandatory only if mangle is not deployed in same k8s
                                cluster</span>
                        </a>
                    </label>
                    <input type="file" name="kubeConfig" (change)="getK8SFiles($event)" ngModel>
                </div>
            </section>
            <button type="submit" class="btn btn-primary" [clrLoading]="btnState">SUBMIT</button>
			<button type="button" class="btn btn-outline"
                (click)="cancelForm(kubernetesCredentialForm);">CANCEL</button>
        </form>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="machineCredentialModal" [clrModalClosable]="false">
    <h3 class="modal-title">{{addEdit}} Machine Credential</h3>
    <div class="modal-body">
        <clr-alert *ngIf="authErrorFlag" [clrAlertType]="'danger'">
            <div class="alert-item">{{authAlertMessage}}</div>
        </clr-alert>
        <form #machineCredentialForm="ngForm" (ngSubmit)="addUpdateCredential(machineCredentialForm);"
            *ngIf="machineCredentialFormData" ngNativeValidate>
            <section class="form-block">
                <div class="form-group">
                    <input type="text" name="id" [(ngModel)]="machineCredentialFormData.id" [hidden]="true">
                </div>
                <div class="form-group">
                    <label for="name">Credential Name</label>
                    <input type="text" name="name" pattern="^[A-Za-z0-9-_.]+$"
                        title="alphanumeric and special characters (_ - .) are allowed"
                        [(ngModel)]="machineCredentialFormData.name" [required]="addEdit == 'Add'"
                        [readonly]="addEdit == 'Edit'">
                </div>
                <div class="form-group">
                    <label for="username">User Name</label>
                    <input type="text" name="username" [(ngModel)]="machineCredentialFormData.username" required>
                </div>
                <div class="form-group">
                    <label>Authorization</label>
                    <div class="clr-control-container clr-control-inline">
                        <div class="clr-radio-wrapper">
                            <input type="radio" id="apassword" name="authorization" value="apassword" class="clr-radio"
                                (click)="showAuthorization($event.target.value);">
                            <label for="apassword" class="clr-control-label">Password</label>
                        </div>
                        <div class="clr-radio-wrapper">
                            <input type="radio" id="privateKey" name="authorization" value="privateKey"
                                class="clr-radio" (click)="showAuthorization($event.target.value);">
                            <label for="privateKey" class="clr-control-label">Private Key</label>
                        </div>
                    </div>
                </div>
                <div class="form-group" [hidden]="passwordHidden">
                    <input type="password" name="password" ngModel [required]="!passwordHidden">
                </div>
                <div class="form-group" [hidden]="privateKeyHidden">
                    <input type="file" name="privateKey" (change)="getPvtKeyFiles($event)" ngModel
                        [required]="!privateKeyHidden">
                </div>
            </section>
            <button type="submit" class="btn btn-primary" [clrLoading]="btnState">SUBMIT</button>
            <button type="button" class="btn btn-outline" (click)="cancelForm(machineCredentialForm);">CANCEL</button>
        </form>
    </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="databaseCredentialModal" [clrModalClosable]="false">
    <h3 class="modal-title">{{addEdit}} Database Credential</h3>
    <div class="modal-body">
        <clr-alert *ngIf="authErrorFlag" [clrAlertType]="'danger'">
            <div class="alert-item">{{authAlertMessage}}</div>
        </clr-alert>
        <form #databaseCredentialForm="ngForm" (ngSubmit)="addUpdateCredential(databaseCredentialForm);"
            *ngIf="databaseCredentialFormData" ngNativeValidate>
            <section class="form-block">
                <div class="form-group">
                    <input type="text" id="id" name="id" [(ngModel)]="databaseCredentialFormData.id" [hidden]="true">
                </div>
                <div class="form-group">
                    <label for="name">Credential Name</label>
                    <input type="text" id="name" name="name" pattern="^[A-Za-z0-9-_.]+$"
                        title="alphanumeric and special characters (_ - .) are allowed"
                        [(ngModel)]="databaseCredentialFormData.name" [required]="addEdit == 'Add'"
                        [readonly]="addEdit == 'Edit'">
                </div>
                <div class="form-group">
                    <label for="dbType">Database Type</label>
                    <div class="select">
                        <select id="dbType" name="dbType" [(ngModel)]="databaseCredentialFormData.dbType"
                            (click)="populateDbPort($event.target['value'])" required>
                            <ng-container *ngFor="let dbms of supportedDatabaseTypes">
                                <option [value]="dbms">{{dbms}}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dbUserName">User Name</label>
                    <input type="text" id="dbUserName" name="dbUserName"
                        [(ngModel)]="databaseCredentialFormData.dbUserName" required>
                </div>
                <div class="form-group">
                    <label for="dbPassword">Password</label>
                    <input type="password" id="dbPassword" name="dbPassword"
                        [(ngModel)]="databaseCredentialFormData.dbPassword" required>
                </div>
                <div class="form-group">
                    <label for="dbPort">Port</label>
                    <input type="number" id="dbPort" name="dbPort" [(ngModel)]="databaseCredentialFormData.dbPort"
                        min="0" max="65535" required>
                </div>
                <div class="form-group">
                    <label for="dbName">Database Name</label>
                    <input type="text" id="dbName" name="dbName" [(ngModel)]="databaseCredentialFormData.dbName"
                        required>
                </div>
                <div class="form-group">
                    <label for="dbSSLEnabled">SSL Enabled (optional)
                        <a href="javascript://" role="tooltip" aria-haspopup="true"
                            class="tooltip tooltip-md tooltip-bottom-right">
                            <clr-icon shape="info-circle" size="24"></clr-icon>
                            <span class="tooltip-content">Specify if Database SSL enabled is true, otherwise it will
                                take
                                default value as false.</span>
                        </a>
                    </label>
                    <div class="select">
                        <select name="dbSSLEnabled" [(ngModel)]="databaseCredentialFormData.dbSSLEnabled">
                            <option [ngValue]="false">false</option>
                            <option [ngValue]="true">true</option>
                        </select>
                    </div>
                </div>
            </section>
            <button type="submit" class="btn btn-primary" [clrLoading]="btnState"
                [disabled]="databaseCredentialForm.invalid">SUBMIT</button>
            <button type="button" class="btn btn-outline" (click)="cancelForm(databaseCredentialForm);">CANCEL</button>
        </form>
    </div>
</clr-modal>